

<h1><center style="color: aliceblue;">Crush That Burger!</center></h1>


    <br>
        <br>
            <br>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h4><p>Choose the burger you want to devour!</p></h4>
                {{#each burgers}} {{#unless this.devoured}}
                <div>   
                    <form action="/api/burger/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class="burgerAvailable btn btn-lg btn-primary">{{this.burger_name}}</button>
                    </form>
                </div>
                {{/unless}} {{/each}}
            </div>

            <div class="col s6">
               <h4><p>Burgers Devoured!</p></h4>
                {{#each burgers}} {{#if this.devoured}}
                <div>   
                    <form action="/api/burger/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class="burgerAvailable btn btn-lg btn-primary">{{this.burger_name}}</button>
                    </form>
                </div>
      
                {{/if}} {{/each}}
            </div>
        </div>
    </div>
</main>
<br>
    <br>
        <br>
            <br>
                <br>

<h2>Add Another Burger!</h2>

<div class="row">
    <div class="col s12">
        <form action="/api/burger" class="create-form" method="POST"> 
        <!--<form action="/api/burger/{{this.id}}?_method=PUT" method="POST"> -->
        <form>
            <input type="text" id="name" name="burger_name" placeholder="Add Another Burger">
            <button type="submit" id="burgerSubmit" class="addBurgerButton">Add Burger</button>
        </form>
    </div>
</div>